<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />

	<title>{% block title %}{{title}}{% endblock %}</title>

	<!-- Bootstrap -->
	<link href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

	<!-- NProgress -->
	<link href="{{ url_for('static', filename='vendors/nprogress/nprogress.css') }}" rel="stylesheet">

	<!-- Select2 -->
	<link href="{{ url_for('static', filename='vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="{{ url_for('static', filename='build/css/custom.min.css') }}" rel="stylesheet">

	<!-- Switchery -->
	<link href="{{ url_for('static', filename='vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet">

	<!-- Script Ajax -->
	<script src="{{ url_for('static', filename='src/js/ajax/jquery.min.js') }}"></script>

	<!-- Socket IO -->
	<script src="{{ url_for('static', filename='src/js/socket/socket.io.min.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var socket = io.connect('http://127.0.0.1:5000');
			socket.on('connect', function () {
				socket.send('User has connected!');
			});
			socket.on('message', function (msg) {
				$("#messages").append('<li>' + msg + '</li>');
				console.log('Received message');
			});
			$('#sendbutton').on('click', function () {
				socket.send($('#myMessage').val());
				$('#myMessage').val('');
			});
		});
	</script>

	<!-- highlight Code XML -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<link href="{{ url_for('static', filename='build/css/style.css') }}" rel="stylesheet">


	<!-- Prossecing -->
	<script type="text/javascript">
		function ShowLoading(e) {
			var div = document.createElement('div');
			var img = document.createElement('img');
			img.src = '{{ url_for("static", filename="images/lg.fidget-spinner.gif") }}';
			div.innerHTML = "Processing...<br />";
			img.style.cssText = 'width: 36px;'
			div.style.cssText = 'position: fixed; top: 5%; left: 40%; z-index: 5000; width: 422px; text-align: center; background: rgba(76, 175, 80, 0.3); border: 1px solid #5CB85C';
			div.appendChild(img);
			document.body.appendChild(div);
			return true;
		}
	</script>

	<!-- Check connection! -->
	<script type="text/javascript">
		if (navigator.onLine) {
			// Has connection, go do something
		}
	</script>
	

</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<!-- menu profile quick info -->
					{% include 'menu-profile.html' %}
					<!-- /menu profile quick info -->
					<br />
					<!-- sidebar menu -->
					{% include 'sidebar-menu.html' %}
					<!-- /sidebar menu -->
					<!-- /menu footer buttons -->
					{% include 'menu-footer.html' %}
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			{% include 'top-navigation.html' %}
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2> 🚀 <small>Corpus Annotation Analyses Linguistic</small></h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">

									<!-- Smart Wizard -->
									<p>To perform the notation of a corpus follow all the steps.</p>
									<br /><br /><br />

									<form class="form-horizontal form-label-left" method="post" runat="server" onsubmit="ShowLoading()">
										<div id="wizard" class="form_wizard wizard_horizontal">
											<ul class="wizard_steps">
												<li>
													<a href="#step-1">
														<span class="step_no">1</span>
														<span class="step_descr">
															Step 1<br />
															<small data-toggle="tooltip" data-placement="bottom" title=">Raw Text">Raw Text</small>
														</span>
													</a>
												</li>
												<li>
													<a href="#step-2">
														<span class="step_no">2</span>
														<span class="step_descr">
															Step 2<br />
															<small data-toggle="tooltip" data-placement="bottom" title="Pre-processing">Pre-processing</small>
														</span>
													</a>
												</li>
												<li>
													<a href="#step-3">
														<span class="step_no">3</span>
														<span class="step_descr">
															Step 3<br />
															<small data-toggle="tooltip" data-placement="bottom" title="Lexical Analysis">Lexical Analysis</small>
														</span>
													</a>
												</li>
												<li>
													<a href="#step-4">
														<span class="step_no">4</span>
														<span class="step_descr">
															Step 4<br />
															<small data-toggle="tooltip" data-placement="bottom" title="Syntactic Analysis">Syntactic Analysis</small>
														</span>
													</a>
												</li>
												<li>
													<a href="#step-5">
														<span class="step_no">5</span>
														<span class="step_descr">
															Step 5<br />
															<small data-toggle="tooltip" data-placement="bottom" title="Semantic Analysis">Semantic Analysis</small>
														</span>
													</a>
												</li>
											</ul>



											<div id="step-1">
												<hr>
												<div class="form-group">
													<div class="col-md-6 col-sm-6 col-xs-12">
														<select class="form-control" name="name_dataset" required="required">
															<option value="">Selected Input Dataset</option>
															{% for file in dataset %}
															<option value="{{ file.filename }}">{{ file.filename }}</option>
															{% endfor %}
														</select>
													</div>
												</div>
											</div>



											<div id="step-2">
												<hr>

												<!-- Start to do list -->
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<h2>Pre-processing <small> <span class="badge bg-green pull-right" style="color:white;">CNLP</span>
																</small></h2>
															<ul class="nav navbar-right panel_toolbox">
																<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
															</ul>
															<div class="clearfix"></div>
														</div>
														<div class="x_content">
															<div class="">
																<ul class="to_do">
																	<li>
																		<label title="Disabled">
																			<input type="checkbox" class="js-switch" name="removing_special_characters" id="removing_special_characters" disabled/>
																			Removing Special Characters (Not enabled)
																		</label>
																	</li>
																	<li>
																		<label title="Disabled">
																			<input type="checkbox" class="js-switch" name="remove_extra_spacing" id="remove_extra_spacing" disabled/>
																			Remove Extra Spacing (Not enabled)
																		</label>
																	</li>
																	<li>
																		<label title="Disabled">
																			<input type="checkbox" class="js-switch" name="check_grammar" id="check_grammar" disabled/> Check grammar (Not enabled)
																		</label>
																	</li>
																	<li>
																		<label title="Disabled">
																			<input type="checkbox" class="js-switch" name="spell_check" id="spell_check" disabled/> Spell Check (Not enabled)
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End to do list -->

												<!-- Start to do list -->
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<h2>Pre-processing <small> <span class="badge bg-red pull-right" style="color:white;">Stanford CoreNLP</span>
																</small></h2>
															<ul class="nav navbar-right panel_toolbox">
																<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
																</li>
															</ul>
															<div class="clearfix"></div>
														</div>
														<div class="x_content">
															<div class="">
																<ul class="to_do">
																	<li>
																		<label title="Disabled">
																			<input type="checkbox" class="js-switch" name="sentences_splits" id="sentences_splits" disabled/>
																			Sentences Splits (Not enabled)
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End to do list -->

											</div>



											<div id="step-3">
												<hr>

												<!-- Start to do list -->
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<h2>Lexical Analysis <small> <span class="badge bg-red pull-right" style="color:white;">Stanford
																		CoreNLP</span> </small></h2>
															<ul class="nav navbar-right panel_toolbox">
																<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
																</li>
															</ul>
															<div class="clearfix"></div>
														</div>
														<div class="x_content">
															<div class="">
																<ul class="to_do">
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="lemmatization" id="lemmatization" /> Lemmatization
																		</label>
																	</li>
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="stemming" id="stemming" /> Stemming
																		</label>
																	</li>
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="true_case" id="true_case" /> True Case
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End to do list -->

												<!-- Start to do list -->
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<h2>Lexical Analysis <small> <span class="badge bg-blue pull-right" style="color:white;">SpaCy</span>
																</small></h2>
															<ul class="nav navbar-right panel_toolbox">
																<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
																</li>
															</ul>
															<div class="clearfix"></div>
														</div>
														<div class="x_content">
															<div class="">
																<ul class="to_do">
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="length" id="length" /> Length
																		</label>
																	</li>
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="shape" id="shape" /> Shape
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End to do list -->

												<!-- Start to do list -->
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<h2>Lexical Analysis <small> <span class="badge bg-green pull-right" style="color:white;">CNLP</span>
																</small></h2>
															<ul class="nav navbar-right panel_toolbox">
																<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
																</li>
															</ul>
															<div class="clearfix"></div>
														</div>
														<div class="x_content">
															<div class="">
																<ul class="to_do">
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="morph_type" id="morph_type" /> Morph Type
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End to do list -->

											</div>



											<div id="step-4">
												<hr>

												<!-- Start to do list -->
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<h2>Syntactic Analysis <small> <span class="badge bg-red pull-right" style="color:white;">Stanford
																		CoreNLP</span> </small></h2>
															<ul class="nav navbar-right panel_toolbox">
																<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
																</li>
															</ul>
															<div class="clearfix"></div>
														</div>
														<div class="x_content">
															<div class="">
																<ul class="to_do">
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="parts_of_speech" id="parts_of_speech" /> Parts of
																			Speech tagging (PoS)
																		</label>
																	</li>
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="ner_corenlp" id="ner_corenlp" /> Named Entity
																			Recognition (NER)
																		</label>
																	</li>
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="dependencies_parsing" id="dependencies_parsing" />
																			Dependency Parsing
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End to do list -->

												<!-- Start to do list -->
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<h2>Syntactic Analysis <small> <span class="badge bg-orange pull-right" style="color:white;">CogComp</span>
																</small></h2>
															<ul class="nav navbar-right panel_toolbox">
																<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
																</li>
															</ul>
															<div class="clearfix"></div>
														</div>
														<div class="x_content">
															<div class="">
																<ul class="to_do">
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="shallow_parsing_cogcomp" id="shallow_parsing_cogcomp" />
																			Shallow Parsing (Online)
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End to do list -->

												<!-- Start to do list -->
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<h2>Syntactic Analysis 
																<small> <span class="badge bg-pink pull-right" style="color:white;">GATE 8.5.1</span></small>
															</h2>
															<ul class="nav navbar-right panel_toolbox">
																<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
																</li>
															</ul>
															<div class="clearfix"></div>
														</div>
														<div class="x_content">
															<div class="">
																<ul class="to_do">
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="gazzetter" id="gazzetter" /> Gazzetter
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── Category</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── city</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── country</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── companies</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── person</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── university</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── ...</p>
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End to do list -->

												<!-- Start to do list -->
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<h2>Syntactic Analysis <small> <span class="badge bg-blue pull-right" style="color:white;">SpaCy</span>
																</small></h2>
															<ul class="nav navbar-right panel_toolbox">
																<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
																</li>
															</ul>
															<div class="clearfix"></div>
														</div>
														<div class="x_content">
															<div class="">
																<ul class="to_do">
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="ner_spacy" id="ner_spacy" /> Named Entity Recognition
																			(NER)
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End to do list -->

											</div>



											<div id="step-5">
												<hr>

												<!-- Start to do list -->
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<h2>Semantic Analysis <small> <span class="badge bg-red pull-right" style="color:white;">SupWSD</span>
																</small></h2>
															<ul class="nav navbar-right panel_toolbox">
																<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
																</li>
															</ul>
															<div class="clearfix"></div>
														</div>
														<div class="x_content">

															<div class="">
																<ul class="to_do">
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="wsd_supwsd" id="wsd_supwsd" /> Word Sense
																			Disambiguation (Online)
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── WordNet 3.0</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── synset</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── definition</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── synonyms</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── antonyms</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── hypernyms</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── hyponyms</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── examples</p>
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End to do list -->

												<!-- Start to do list -->
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<h2>Semantic Analysis <small> <span class="badge bg-blue-sky pull-right" style="color:white;">SEMAFOR</span>
																</small></h2>
															<ul class="nav navbar-right panel_toolbox">
																<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
																</li>
															</ul>
															<div class="clearfix"></div>
														</div>
														<div class="x_content">
															<div class="">
																<ul class="to_do">
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="semafor" id="semafor" />
																			Frame Semantic Parsing
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── FrameNet </p>
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End to do list -->

												<!-- Start to do list -->
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<h2>Semantic Analysis <small> <span class="badge bg-orange pull-right" style="color:white;">CogComp</span>
																</small></h2>
															<ul class="nav navbar-right panel_toolbox">
																<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
																</li>
															</ul>
															<div class="clearfix"></div>
														</div>
														<div class="x_content">
															<div class="">
																<ul class="to_do">
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="srl_cogcomp" id="srl_cogcomp" /> Semantic Role
																			Labeling (Online)
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End to do list -->

												<!-- Start to do list -->
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<h2>Semantic Analysis <small> <span class="badge bg-purple pull-right" style="color:white;">FreeLing 4.1</span>
																</small></h2>
															<ul class="nav navbar-right panel_toolbox">
																<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
																</li>
															</ul>
															<div class="clearfix"></div>
														</div>
														<div class="x_content">
															<div class="">
																<ul class="to_do">
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="wsd_freeling" id="wsd_freeling" /> Word Sense
																			Disambiguation
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── ASUMO</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── WordNet 3.0</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── synset</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── definition</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── synonyms</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── antonyms</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── hypernyms</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── hyponyms</p>
																			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── examples</p>
																		</label>
																	</li>
																	<li>
																		<label>
																			<input type="checkbox" class="js-switch" name="svo_srl_freeling" id="svo_srl_freeling" /> SVO
																			Semantic Role Labeling
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End to do list -->

											</div>



										</div>

									</form>
									<!-- End SmartWizard Content -->
								</div>

								<hr>

								<!--
								<ul id="messages"></ul>
								<input type="text" id="myMessage">
								<button id="sendbutton">Send</button>
								-->

								<!-- View Code Annotation XML. -->
								{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
								<h2 class="StepTitle">Generated Annotation Corpus</h2>
								<a href="annotation_output" class="btn btn-success">Download Output Dataset</a>
								{% for message in messages %}
								<pre>
									<code class="language-xml">
										{{ message[1] }}
									</code>
								</pre>
								{% endfor %}
								{% endif %}
								{% endwith %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /page content -->

			<!-- footer content -->
			{% include 'footer.html' %}
			<!-- /footer content -->

		</div>
	</div>


	<!-- jQuery -->
	<script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>

	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>

	<!-- FastClick -->
	<script src="{{ url_for('static', filename='vendors/fastclick/lib/fastclick.js') }}"></script>

	<!-- NProgress -->
	<script src="{{ url_for('static', filename='vendors/nprogress/nprogress.js') }}"></script>

	<!-- jQuery Smart Wizard -->
	<script src="{{ url_for('static', filename='vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>

	<!-- Switchery -->
	<script src="{{ url_for('static', filename='vendors/switchery/dist/switchery.min.js') }}"></script>

	<!-- Select2 -->
	<script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.full.min.js') }}"></script>

	<!-- Custom Theme Scripts -->
	<script src="{{ url_for('static', filename='build/js/custom.min.js') }}"></script>

</body>

</html>