<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />

	<title>{% block title %}{{title}}{% endblock %}</title>

	<!-- Bootstrap -->
	<link href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

	<!-- NProgress -->
	<link href="{{ url_for('static', filename='vendors/nprogress/nprogress.css') }}" rel="stylesheet">

	<!-- Select2 -->
	<link href="{{ url_for('static', filename='vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">

	<!-- Dropzone.js -->
	<link href="{{ url_for('static', filename='vendors/dropzone/dist/min/dropzone.min.css') }}" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="{{ url_for('static', filename='build/css/custom.min.css') }}" rel="stylesheet">

	<!-- Switchery -->
	<link href="{{ url_for('static', filename='vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet">
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<!-- menu profile quick info -->
					{% include 'menu-profile.html' %}
					<!-- /menu profile quick info -->

					<br />

					<!-- sidebar menu -->
					{% include 'sidebar-menu.html' %}
					<!-- /sidebar menu -->

					<!-- /menu footer buttons -->
					{% include 'menu-footer.html' %}
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			{% include 'top-navigation.html' %}
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										<i class="fa fa-telegram"></i> Telegram
										<small> Receive processing notifications </small>
									</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">

									<form id="form-telegram" data-parsley-validate class="form-horizontal form-label-left" method="POST">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="send_msg">SEND MSG <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<label>
													<input type="checkbox" class="js-switch" name="send_msg" id="send_msg" {% block send_msg %}{{send_msg}}{% endblock %} />
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="telegram_token">TELEGRAM TOKEN <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="telegram_token" name="telegram_token" required="required" class="form-control col-md-7 col-xs-12" value="{% block telegram_token %}{{telegram_token}}{% endblock %}">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="telegram_chat_id">TELEGRAM CHAT ID <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="telegram_chat_id" name="telegram_chat_id" required="required" class="form-control col-md-7 col-xs-12" value="{% block telegram_chat_id %}{{telegram_chat_id}}{% endblock %}">
											</div>
										</div>
										<hr>
										<button class="btn btn-success" id="submit" type="button">Save</button>
									</form>

								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- /page content -->

		<!-- footer content -->
		{% include 'footer.html' %}
		<!-- /footer content -->

	</div>
	</div>

	<!-- jQuery -->
	<script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>

	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>

	<!-- FastClick -->
	<script src="{{ url_for('static', filename='vendors/fastclick/lib/fastclick.js') }}"></script>

	<!-- NProgress -->
	<script src="{{ url_for('static', filename='vendors/nprogress/nprogress.js') }}"></script>

	<!-- jQuery Smart Wizard -->
	<script src="{{ url_for('static', filename='vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>

	<!-- Switchery -->
	<script src="{{ url_for('static', filename='vendors/switchery/dist/switchery.min.js') }}"></script>

	<!-- Select2 -->
	<script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.full.min.js') }}"></script>

	<!-- Dropzone.js -->
	<script src="{{ url_for('static', filename='vendors/dropzone/dist/min/dropzone.min.js') }}"></script>

	<!-- Custom Theme Scripts -->
	<script src="{{ url_for('static', filename='build/js/custom.min.js') }}"></script>


	<script src="{{url_for('js_static', filename='configurations.js')}}"></script>


</body>

</html>