<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />

	<title>{% block title %}{{title}}{% endblock %}</title>

	<!-- Bootstrap -->
	<link href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

	<!-- NProgress -->
	<link href="{{ url_for('static', filename='vendors/nprogress/nprogress.css') }}" rel="stylesheet">

	<!-- Select2 -->
	<link href="{{ url_for('static', filename='vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">

	<!-- Dropzone.js -->
	<link href="{{ url_for('static', filename='vendors/dropzone/dist/min/dropzone.min.css') }}" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="{{ url_for('static', filename='build/css/custom.min.css') }}" rel="stylesheet">

	<!-- Switchery -->
	<link href="{{ url_for('static', filename='vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet">

	<!-- Script Ajax -->
	<script src="{{ url_for('static', filename='src/js/ajax/jquery.min.js') }}"></script>
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<!-- menu profile quick info -->
					{% include 'menu-profile.html' %}
					<!-- /menu profile quick info -->

					<br />

					<!-- sidebar menu -->
					{% include 'sidebar-menu.html' %}
					<!-- /sidebar menu -->

					<!-- /menu footer buttons -->
					{% include 'menu-footer.html' %}
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			{% include 'top-navigation.html' %}
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2> <i class="fa fa-database"></i> List Dataset <small> .. </small></h2>
									<div class="clearfix"></div><br>
									<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalUpload">
										Upload New Dataset
									</button>
								</div>
								<div class="x_content">
									<table id="datatable" class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>Dataset</th>
												<th>Options</th>
											</tr>
										</thead>
										<tbody>
											{% for file in files %}
											<tr>
												<td>{{ file.filename }}</td>
												<td>
													<a href="{{ url_for('dataset_statistics', path=file.path_file ) }}" title="Generate Dataset Statistics"><i class="fa fa-bar-chart"></i> Statistics</a> |
													<a href="{{ url_for('dataset_view', path=file.path_file ) }}" title="View dataset data"><i class="fa fa-eye"></i> View</a> |
													<a href="{{ url_for('dataset_download', path=file.path_file ) }}" title="Delete Dataset" download><i class="fa fa-download"></i> Download</a> |
													<a href="{{ url_for('dataset_delete', path=file.path_file ) }}" title="Download Datase"><i class="fa fa-close"></i> Delete</a>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- /page content -->

		<!-- footer content -->
		{% include 'footer.html' %}
		<!-- /footer content -->

	</div>
	</div>

	<!-- Begin Modal -->
	<div class="modal fade" id="modalUpload" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Upload New Dataset</h4>
				</div>
				<div class="modal-body">
					<form id="uploadform" method="post" enctype="multipart/form-data">
						<fieldset>
							<input name="file" type="file" class="form-control" title="Select New Dataset Upload">
							<br>
							<button class="btn btn-success" id="submit" type="button">Upload New Dataset</button>
						</fieldset>
					</form>
					<hr>
					<p>Result Filename:&nbsp;<span id="resultFilename"></span></p>
					<p>Result Filesize:&nbsp;<span id="resultFilesize"></span></p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Modal -->

	<!-- jQuery -->
	<script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>

	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>

	<!-- FastClick -->
	<script src="{{ url_for('static', filename='vendors/fastclick/lib/fastclick.js') }}"></script>

	<!-- NProgress -->
	<script src="{{ url_for('static', filename='vendors/nprogress/nprogress.js') }}"></script>

	<!-- Select2 -->
	<script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.full.min.js') }}"></script>

	<!-- Custom Theme Scripts -->
	<script src="{{ url_for('static', filename='build/js/custom.min.js') }}"></script>

	<!-- Datatables -->
	<script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>

	<!-- App CNLP -->
	<script src="{{url_for('js_static', filename='app.js')}}"></script>


</body>

</html>