<div class="profile clearfix">
    <div class="profile_pic">
        <img src="{{ url_for('static', filename='images/lexsedi.png') }}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>Deep</h2>
    </div>
</div>