<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3></h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-database"></i>Dataset <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="dataset_list">Dataset List</a></li>
                    <li><a href="dataset_view" onclick="return false;" title="Desable">Dataset View</a></li>
                    <li><a href="dataset_statistics" onclick="return false;" title="Desable">Dataset Statistics</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-rocket"></i>Annotation <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/">New Annotation</a></li>
                    <li><a href="annotation_output">Annotation Output</a></li>
                    {% if annotation_view_csv %}
                    <li><a href="annotation_view_csv">View annotation CSV</a></li>
                    {% endif %}
                    {% if annotation_view_csv %}
                    <li><a href="annotation_view_xml">View annotation XML</a></li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <a href="configurations"><i class="fa fa-cogs"></i> Settings </a>
            </li>
            <li>
                <a><i class="fa fa-info-circle"></i> About <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="about">Deep NLP</a></li>
                    <li><a href="changelog">Changelog</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu_section">
        <h3></h3>
        <ul class="nav side-menu">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-code"></i> Version <span class="label label-success pull-right">v 1.0.0 (Alpha)</span>
                </a>
            </li>
        </ul>
    </div>
</div>